In [2]:
# 1.Write a python program to convert a string to lower case
x="PYTHON"
x.lower()

'python'

In [25]:
# 2.Write a python program to convert only odd indexed characters to lower case
x="PYTHON"
x[0]+x[1].lower()+x[2]+x[3].lower()+x[4]+x[5].lower()

'PyThOn'

In [26]:
#3.Write a python program to convert only even indexed characters to lower case
x="PYTHON"
x[0].lower()+x[1]+x[2].lower()+x[3]+x[4].lower()+x[5]

'pYtHoN'

In [28]:
#4.Write a python program to convert only odd indexed characters to upper case
x="python"
x[0]+x[1].upper()+x[2]+x[3].upper()+x[4]+x[5].upper()

'pYtHoN'

In [30]:
#5.Write a python program to convert only even indexed characters to upper cas
x="python"
x[0].upper()+x[1]+x[2].upper()+x[3]+x[4].upper()+x[5]

'PyThOn'

In [6]:
#6.Write a python program where you have differentvariable which contains your name ,sex,age,phone no ,fathers name and mothers name
name=input("enter your name:")
age=input("enter your age:")
phone_no=input("enter your phoneno:")
fathers_name=input("enter your father name:")
mothers_name=input("enter your mother name:")
bio_data="my name is {},my age is {} ,my phoneno is  {},my fathersname is {},my mothername is {}".format(name,age,phone_no,fathers_name,mothers_name)
print(bio_data)

enter your name:nithin
enter your age:19
enter your phoneno:5465766587
enter your father name:june
enter your mother name:july
my name is nithin,my age is 19 ,my phoneno is  5465766587,my fathersname is june,my mothername is july

In [9]:
#7. Write a python program to count how many times “@” occurred
x="@@@HVVBJHG^&^*ygghvhjjg@@@@hgvghv"
x.count("@")

7

In [18]:
# 8.Write a python program to get only names from the string
x="zack.@gmail.com,ravi.@gmail.com,rick.@gmail.com"
x.replace(".@gmail.com","")

'zack,ravi,rick'

In [21]:
#9. Given a string of odd length greater that 9,return a new string made of the middle three characters of a given String
x="nithinravul"
x[4:7]

'inr'

In [50]:
#10. Write a python program to insert a 2 string in the middle of 1 string
x="hello   world"
y=x.replace("   ","there")
print(y)

hellothereworld

In [57]:
#11. Write a program to remove vowels from the entire alphabets
x="abcdefghijklmnopqrstuvwxyz"
x1=x.replace("a","")
x2=x1.replace("e","")
x3=x2.replace("i","")
x4=x3.replace("o","")
x5=x4.replace("u","")
print(x5)

bcdfghjklmnpqrstvwxyz